.score_container{
    background: cyan;
    width: 60%;
    margin: 0 auto;
}

.score_map{
    background: darkmagenta;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

.score_round{
    background:darkkhaki;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    padding: 5px;
    margin: 10px;
}

.score_question_number{
    color: white;
    align-items: center;
    margin: 0 auto;
    font-size: 0.5rem;
}

.correct{
    background-color:green;
}

.incorrect{
    background: red;
}


@media (min-width: 768px) {
.score_map{
    justify-content: center;
}
}