.question_container{
    background: rgb(83, 157, 160);
    height: 100%;
    width: 70%;
    margin: 0 auto;
    border-radius: 23px;
}

.question_title{
    background: black;
    color: rgb(75, 213, 218);
    text-transform: capitalize;
    font-size: 1rem;
    height: 50px;
    border-radius: 23px 23px 0 0;
    margin: auto 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question_text{
    color: rgb(238, 229, 177);
    padding: 25px;
    font-size: 1.5rem;
}

.next_question_button{
    color: white;
    background: coral;
    border: coral;
    padding: 10px;
    border-radius: 23px;
    margin: 30px;
    cursor: pointer;
}

.form_radio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.form_radio_label{
    margin: 7px auto;
    font-size: 1.2rem;
}

.form_radio_input{
    cursor: pointer;
    margin: 5px;
}

.disable{
    background: rgb(250, 178, 151);
    border: 2px solid rgb(240, 99, 48);
    pointer-events: none;
    color: rgb(240, 99, 48);
}

@media (min-width: 768px) {
.form_radio{
   width: 25%;
}

.question_text{
    font-size: 2rem;
}
.form_radio_label{
    font-size: 1.7rem;
}
}