.question_container{
    background: rgb(83, 157, 160);
    height: auto;
    width: 80%;
    border-radius: 23px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding-bottom: 5px;
}

.question_title{
    background: black;
    color: rgb(75, 213, 218);
    text-transform: capitalize;
    font-size: 1rem;
    height: 50px;
    border-radius: 23px 23px 0 0;
    margin: auto 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.question_text{
    color: rgb(238, 229, 177);
    padding: 10px 25px;
    font-size: 1.5rem;
    text-align: center;
}

.option_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
    font-size: 1.1rem;
    text-transform: capitalize;
    border: 1px solid black;
    padding: 10px;
    background: wheat;
}

.next_question_button{
    color: white;
    background: coral;
    border: coral;
    padding: 10px;
    border-radius: 23px;
    margin: 30px auto;
    cursor: pointer;
    display: flex;
}

.option_correct {
    border: 3px solid #06f306;
    color:linen;
    background: linear-gradient(180deg, rgb(196 244 81 / 20%) 0%, rgb(70 162 30 / 58%) 51%);
}

.option_incorrect{
    border: 3px solid red;
    color:linen;
    background: linear-gradient(180deg, rgb(192 20 20 / 53%) 0%, rgb(247 13 13 / 58%) 51%);
}

.disable{
    background: rgb(250, 178, 151);
    border: 2px solid rgb(240, 99, 48);
    pointer-events: none;
    color: rgb(240, 99, 48);
}

@media (min-width: 768px) {
.question_container{
    width: 60%;
    height: 75vh;
}

.question_text{
    font-size: 1.7rem;
}

.option_button{
    font-size: 1.3rem;
}
}