.question_container{
    background: rgb(83, 157, 160);
    height: auto;
    width: 80%;
    margin-left: 30%;
    border-radius: 23px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding-bottom: 5px;
}

.question_title{
    background: black;
    color: rgb(75, 213, 218);
    text-transform: capitalize;
    font-size: 1rem;
    height: 50px;
    border-radius: 23px 23px 0 0;
    margin: auto 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.question_text{
    color: rgb(238, 229, 177);
    padding: 25px;
    font-size: 1.5rem;
    text-align: center;
}
.option_button{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
    font-size: 1.1rem;
    text-transform: capitalize;
    border: 1px solid black;
    padding: 10px;
    background: wheat;
}

.next_question_button{
    color: white;
    background: coral;
    border: coral;
    padding: 10px;
    border-radius: 23px;
    margin: 30px auto;
    cursor: pointer;
    display: flex;
}

/* .form_radio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.form_radio_label{
    margin: 7px auto;
    font-size: 1.2rem;
    text-transform: capitalize;
    border: 1px solid black;
    padding: 10px;
    width: 90%;
}

.form_radio_input{
    cursor: pointer;
    margin: 5px;
} */
.option_correct {
background: green !important;
}


.option_incorrect{
background: red;
}
/* .isIncorrect{
background: red;
} */

.disable{
    background: rgb(250, 178, 151);
    border: 2px solid rgb(240, 99, 48);
    pointer-events: none;
    color: rgb(240, 99, 48);
}

@media (min-width: 768px) {
.question_container{
    width: 60%;
}

.question_text{
    font-size: 1.7rem;
}
.option_button{
    font-size: 1.3rem;
}
}