.questions-background {
    background-color: #222968;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    overflow-x: hidden;
}