.summary {
    height: 100vh;
    border-color: rgb(0, 37, 255);
    border-width: 16px 16px 16px 16px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.summary h1, h3 {
    font-family: futura-pt, "sans-serif";
    font-weight: 900;
    letter-spacing: -0.01em;
    color: rgb(0, 24, 164);
    text-align: center;
    padding-top: 40px;
}

.summary p {
    padding-top: 40px;
    text-align: center;
}