.welcome-background {
  height: 844px;
  background-image: url(../img/technigo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  text-underline-offset: 6px;
  font-family: futura-pt, 'sans-serif';
  font-weight: 600;
  transition: all 0.2s ease 0s;
  display: inline-block;
  padding: 18px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid rgb(10, 37, 255);
  place-self: flex-start;
  color: rgb(255, 255, 255);
  background: rgb(10, 37, 255);
}
