
footer {
    margin-top: 20px;
    /* height: 120px; */
    padding: 5px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
  
  footer p {
    text-align: center;
    color: white;
    margin: 2px 0;
  }
  
  .contact-me {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* padding: 5px; */
    margin-top: 10px;
  }
  
  .contact-logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    opacity: .75;
  }
  
  .contact-logo:hover {
    transform: scale(1.2);
    opacity: 1;
  }
  
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* padding: 5px; */
    font-size: 15px;
    /* margin-bottom: 10px; */
    color: white;
    text-align: center;
  }