.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(54, 33, 62) solid 8px;
    border-radius: 25px;
    max-width: 760px;
    width: 70%;
    background-image: linear-gradient(to bottom right, #63768D, #8AC6D0);
    padding-bottom: 60px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.quizTitle {
    font-size: 60px;
    font-weight: 900;
    color: #36213E; 

}