.restart-button {
    background-color: #8AC6D0;
    color: black;
    padding: 20px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 10px rgba(138, 198, 208, 0.3);
    }
    
    .restart-button:hover {
        background-color: #554971;
        color: white;
    }