.header-content{
    width: 100%;
    background: rgb(51, 71, 86);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    margin-bottom: 10px;
}

.header-text{
    color: rgb(240, 165, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px;
    text-align: center;
    font-size: 1.2rem;
}       

@media (min-width: 768px) {
.header-text{
      font-size: 2rem;
  }
}
