@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* add zooming effect on the text ine the button? 
*/

.main-container {
	display: flex;
	justify-content: center;
}

.quiz-container {
	padding: 10px;

	/* to center container in the middle of the page */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.question-text {
	background-color: red;
	color: white;
	padding: 50px;
	font-size: 30px;
	text-align: center;
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	width: 372px;
	/* adding space between buttons */
	gap: 10px;
}

.button {
	background-color: red;
	color: white;
	border:none;
	width: 181px;
	padding: 30px;
	font-family: "Roboto";
	font-size: 30px;
}

.button:hover {
	box-shadow: 5px 5px rgb(69, 69, 69);
}

/* For the progressbar text */
.progress-text{
	color: red;
	font-weight: 500;
  }

.progress-bar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Ipad */ 
@media (min-width: 768px) and (max-width: 1023px ) {
	.quiz-container {
		width: 600px;
	}

	.button-container {
		width: 620px;
	}

	.button {
		width: 295px;
	}
}

/* Ipad Pro and more */ 
@media (min-width: 1024px) {
	.quiz-container {
		width: 800px;
	}

	.button-container {
		width: 800px;
	}

	.button {
		width: 395px;
	}
}

