.question-container {
    background: #af6b586e;
    border-radius: 10px;
    padding: 15px;
}

.question {
    color: #42180e;
    font-size: 40px;
    margin: 0 0 25px 0;
}

.moussaka-image {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.food-image {
    border-radius: 10px;
}

.radio-buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
}

.radio-buttons-label {
    width: 35%;
    font-size: 30px;
    background: #4e1d10de;
    border-radius: 50px;
    color: #cc9837;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.label-overlay {
    cursor: pointer;
    transition: background .2s ease;
    -webkit-tap-highlight-color: transparent;
}

.radio-button {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: none;
    border: 0;
    box-shadow: inset 0 0 0 2.5px #cc9837;
    appearance: none;
    transition: box-shadow 150ms cubic-bezier(.95, .15, .5, 1.25);
    pointer-events: none;
    margin: 5px 5px 0 0;
    align-self: center;
}

.radio-button:focus {
    outline: none;
}

.radio-button:checked {
    box-shadow: inset 0 0 0 8px #ffcd6f;
}