/* Footer */

footer {
    /* margin-top: 20px;
    height: 120px; 
    padding: 5px; */
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border-color: rgb(0, 37, 255);
    border-width: 0px 16px 16px 16px;
    border-style: solid;
  }
  
  footer p {
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px white;
  }
  
  .contact-me {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    /*
    margin-top: 10px; */
  }
  
  .contact-logo{
    width: 20px;
    height: 20px;
    object-fit: cover;
    opacity: .75;
  }
  
  .contact-logo:hover{
    transform: scale(1.2);
    opacity: 1;
  }
  
  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(0, 24, 164);
    text-shadow: 1px 1px 2px white;
    text-align: center;
  }