.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}
img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.question-select {
  -webkit-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: bottom 40% right 15px;
  background-repeat: no-repeat;

  padding: 10px;
  width: 300px;
  border-radius: 35px;
  border: 2px solid #ffcd6f;
  margin: 20px 0px;
  font-size: 15px;
  background-color: #42180e;
  color: white;
}
.question-select:hover {
  box-shadow: 1px 1px 5px #ffcd6f;
}
