header {
  text-align: center;
  height: 30%;
  padding-top: 10px;
  font-family: ‘Source Serif Pro’;
  font-size: 20px;
  padding: 0 6px;
  margin: 6% 2%;
}

h1 {
  margin: 0;
}
@media screen and (min-width: 768px) {
  header {
    font-size: 28px;
    padding-top: 50px;
  }
}
@media screen and (min-width: 992px) {
  header {
    font-size: 40px;
    border-bottom: 1px solid black;
    padding: 0 0 5% 0;
  }
}
