header {
  text-align: center;
  height: 30%;
  padding-top: 10px;
  font-family: ‘Source Serif Pro’;
  font-size: 25px;
  padding: 0 10px;
  border-bottom: 1px solid black;
  margin: 0 2%;
}
@media screen and (min-width: 768px) {
  header {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  header {
    font-size: 40px;
  }
}
