* {
  box-sizing: border-box;
}

.container {
  display: inline-block;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

button {
  background-color: blueviolet;
  color: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  margin: 5px;
}
