.progress-bar {
  background-color: #fec89a;
  border-radius: 8px;
  color: black;
  font-size: 14px;
  text-align: center;
}

.progress {
  background-color: #ffff;
  max-width: 100vw;
  border-radius: 8px;
  border: 1px solid #fec89a;
  margin: 0 15%;
}
