progress {
  width: 20%;
  height: 1rem;
  display: block;
  appearance: none;
  border: none;
  margin-top: 5px;
}

progress::-webkit-progress-bar {
  background: #fff;
  border-radius: 50px;
  padding: 2px;
}

progress::-moz-progress-bar {
  background: #fff;
  border-radius: 50px;
  padding: 2px;
}

progress::-webkit-progress-value {
  background: #D3A13B;
  border-radius: 50px;
  animation: move 5s linear 0 infinite;
}

progress::-moz-progress-value {
  background: #D3A13B;
  border-radius: 50px;
  animation: move 5s linear 0 infinite;
}

@keyframes move {
  0% {background-position: 0px 0px, 0 0, 0 0}
  100% {background-position: -100px 0px, 0 0, 0 0}
}