

.question-img-container {
  padding: 8px 20px;
  max-width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
}

.question-img {
  margin: 1em;
  object-fit: cover;
  border: #fef8d8 solid 5px;
  border-radius: 15px;
}

.answer-btn-container {
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 700px) {
  .question-section {
    max-width: 700px;
  }

  .question-img-container {
    height: 250px;
  }

  .answer-btn-container {
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }
}

@media screen and (min-width: 812px) {
  .question-img-container {
    height: 300px;
  }
}
