h3,
h4 {
  text-align: center;
  font-family: ‘Source Serif Pro’;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  padding: 0 10%;
}

.summary p {
  font-size: 20px;
  margin-bottom: 0;
}

.summary h2 {
  font-size: 35px;
}

.summary h3 {
  font-size: 26px;
  text-decoration: underline;
}

.summary h4 {
  font-size: 22px;
}

.summary-data {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}

.answer-emoji {
  align-self: center;
}

.restart-button {
  margin-top: 5%;
  border: none;
  background-color: transparent;
  border: 2px solid black;
  width: 30%;
  padding: 2%;
  border-radius: 8px;
}

.restart-button:hover {
  background: black;
  color: #ffff;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .summary h2 {
    font-size: 38px;
  }

  .summary h3 {
    font-size: 30px;
    text-decoration: underline;
  }

  .summary p {
    font-size: 25px;
  }

  .summary h4 {
    font-size: 28px;
  }

  button {
    font-size: 25px;
  }
}
