h3 {
  text-align: center;
  font-family: ‘Source Serif Pro’;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.summary p {
  font-size: 20px;
}

.restart-button {
  border: none;
  background-color: white;
  width: 30%;
  padding: 2%;
}
