.triangles img {
    position: fixed;
    bottom: -100px;
    animation: animate 9s linear infinite;
    z-index: -1;
    }
    
    .triangles img:nth-child(1){
      left: 16%;
      animation-delay: 0.5s;    
    }
    .triangles img:nth-child(2){
      left: 10%;
      animation-delay: 3s;  
    }
    .triangles img:nth-child(3){
      left: 32%;
      animation-delay: 2s;    
    }
    .triangles img:nth-child(4){
      left: 50%;
      animation-delay: 3s;   
    }
    .triangles img:nth-child(5){
      left: 64%;
      animation-delay: 1s;    
    }
    .triangles img:nth-child(6){
      left: 80%;
      animation-delay: 4s;    
    }
    
    @keyframes animate{
      0% {
        transform: translateY(0);
          opacity: 1
      }
      70%{
          opacity: .8;
      }
      100% {
        transform: translateY(-800px) rotate(360deg);	
          opacity: 0
      }
    }