@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root {
  --orange: #F36B2B;
  --yellow: #D1E64B;
  --text: #141414;
  --yellowtrans: #d1e64b94;
  --eggpink: #c09393cb;
  --color: #e45fbc;
  }
  

body {
  margin: 0;
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
