/* BODY */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/backgroundimage-snowflakes.jpg');
  height: 100vh;
}

h1 {
  text-align: center;
  color: #0a1a27;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

p {
  text-align: center;
  margin-bottom: 5px;
}

/* FIRST PAGE */

/* CARD + SUMMARY */

.question,
.summary,
.start {
  background-color: #ffffffcc;
  box-shadow: 10px 10px 20px grey;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
}

.question__image,
.summary__image {
  height: 200px;
  object-fit: contain;
  margin: 5px 0;
}

.question__buttons {
  display: flex;
  flex-direction: column;
}

/* ANSWER BUTTONS */

.question__default--button {
  color: #ffffff;
  background-color: #0a1a27;
  padding: 20px;
  font-size: 16px;
}

.question__right--button {
  color: #ffffff;
  background-color: #20d467;
  padding: 20px;
  font-size: 16px;
}

.question__wrong--button {
  color: #ffffff;
  background-color: #da2940;
  padding: 20px;
  font-size: 16px;
}

/* NEXT BUTTON + SUMMARY BUTTON */

.question__next--button,
.summary__restart--button,
.start__button {
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #0a1a27;
  color: #0a1a27;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
}
