body {
  margin: 0;
  height: 100vh;
  font-family: 'Zen Kurenaido', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(129, 97, 97, 0.5), rgba(129, 97, 97, 0.5)), url('./assets/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: 'Zen Kurenaido', sans-serif;
}