/* BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/backgroundimage-snowflakes.jpg');
  height: 100vh;
}

h1 {
  text-align: center;
  color: #0a1a27;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 20px;
}

p {
  text-align: center;
  font-size: 16px;
}

/* FIRST PAGE */

/* CARD + SUMMARY */

.question,
.summary,
.start {
  height: 95vh;
  width: 90vw;
  /* max-width: 600px; */
  max-width: 800px;
  background-color: #ffffffcc;
  box-shadow: 10px 10px 20px grey;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}

.question {
  justify-content: space-between;
}

.summary,
.start {
  justify-content: space-evenly;
}

.question__image,
.summary__image {
  height: 200px;
  object-fit: contain;
}

.question__buttons {
  display: flex;
  flex-direction: column;
  /* align-self: center; */
}

/* ANSWER BUTTONS */

.question__default--button {
  color: #ffffff;
  background-color: #0a1a27;
  border-radius: 10px;
  padding: 14px;
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: 700;
  max-width: 400px;
}

.question__right--button {
  color: #ffffff;
  background-color: #20d467;
  padding: 14px;
  font-size: 20px;
  margin-bottom: 2px;
  border-radius: 10px;
  font-weight: 700;
}

.question__wrong--button {
  color: #ffffff;
  background-color: #da2940;
  padding: 14px;
  font-size: 20px;
  margin-bottom: 2px;
  border-radius: 10px;
  font-weight: 700;
}

/* NEXT BUTTON + SUMMARY BUTTON */

.question__next--button,
.summary__restart--button,
.start__button {
  padding: 10px;
  border: 2px solid #0a1a27;
  color: #0a1a27;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  max-width: 400px; /*added*/
  align-self: center;
}

.start__text,
.summary__text {
  font-size: 20px;
  font-weight: 700;
  color: #0a1a27;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
  }

  h2 {
    font-size: 28px;
  }

  .question,
  .summary,
  .start {
    justify-content: space-evenly;
  }

  .question__buttons {
    width: 400px;
    align-self: center;
  }

  .question__image,
  .summary__image {
    align-self: center;
    height: 400px;
  }

  .question__buttons {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .start__text {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .question,
  .summary,
  .start {
    height: 85vh;
  }
  .start__text {
    font-size: 28px;
  }
}
